.form-floating{
  margin: 5px;
}

.button:hover{
    cursor: pointer;
}

button{
  margin: 5px;
  margin-left: 85px;
}

.error {
  display: block;
  width: 100%;
  background-color: red;
  color: white;
  padding: 10px;
}